<!--наследуемся от default.html-->
{% extends 'flatpages/default.html' %}

{% load my_filter %}
<!--в заголовок идентификатор с таким же именем как и в представлениях -->
{% block title %}
Posts
{% endblock title %}

{% block content %}

    {% if request.user.username %}
    <h2>Добро пожаловать,  {{request.user.username}}</h2>

    <button> <a href="/posts/logout">Выйти</a> </button>
    {% else %}
    <button> <a href="/accounts/signup"> Зарегистрироваться! </a></button>
    <button> <a href="/posts/login"> Войти </a></button></li>
    {% endif %}
<!--    <h1><span style="color: #ffffff;">Все посты</span></h1>-->
    <hr>
    <h4><span style="color: #ffffff;">Количество постов на странице: </span>{{ posts|length }}</h4>
    <hr>
    <a href="news/create/" style="font-size:20px">Создать новость</a>
    <hr>
    <a href="articles/create/" style="font-size:20px">Создать статью</a>
    <h2>{{ time_now|date:'M d Y' }}</h2>
    <hr>
    {% if posts %}
    <style type="text/css">
   TABLE {
    width: 100%; /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
   }
   TD {

    border: 2px solid DodgerBlue; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
   }
    </style>
    <table style="font:26px verdana">
        <tr>
            <td>Заголовок</td>
            <td>Автор публикации</td>
            <td>Дата публикации</td>
            <td>Текст статьи</td>
            <td>Рейтинг статьи</td>
            <td>Тип</td>
            <td>Категория</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.name_of_article_or_news|truncatewords:4|cenz }}</td>
            <td>{{ post.name.author_name }}</td>
            <td>{{ post.date_of_create|date:"d M Y" }}</td>
            <td>{{ post.text_of_article_or_news|truncatechars:20 }}<a href="{{post.id}}" style="font-size:20px">читать полностью</a></td>
            <td>{{ post.rating_of_article_or_news }}</td>
            <td>{{ post.category }}</td>
            <td>{% for category in post.postCategory.all %} {{ category }} {% endfor %}</td>
        </tr>
        {% endfor %}


    </table>
    {% else %}
    <h2>!!!</h2>
    {% endif %}
<!-- Пагинация -->
   {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <<<
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
   {% endif %}

    <!-- Текущая страница -->
   {{ page_obj.number }}
    <!-- Следующая страница-->

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           >>>
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}





