{% extends 'flatpages/default.html' %}
{% load my_filter %}
{% block content %}
<h1>Поиск поста</h1>
<hr>
<form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ find.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти"/>
</form>
<h3>{{ time_now|date:'M d Y' }}</h3>
    <h4><span style="color: #ffffff;">Количество статей на странице: </span>{{ find.qs|length }}</h4>
    <hr>
    {% if find.qs %}
<style type="text/css">
   TABLE {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Автор публикации</td>
            <td>Дата публикации</td>
            <td>Текст статьи
            <td>Рейтинг статьи</td>
            <td>Тип</td>
            <td>Категория</td>

        </tr>
        {% for x in find.qs %}

        <tr>
            <td><h4>{{ x.name_of_article_or_news|truncatewords:4|cenz }}</h4></td>
            <td><h4>{{ x.name.author_name }}</h4></td>
            <td><h4>{{ x.date_of_create|date:"d M Y" }}</h4></td>
            <td><h4>{{ x.text_of_article_or_news|truncatechars:20 }}<a href="/posts/{{x.id}}" style="font-size:20px">читать полностью</a></h4></td>
            <td><h4>{{ x.rating_of_article_or_news }}</h4></td>
            <td><h4>{{ x.category }}</h4></td>
            <td><h4>{% for category in x.postCategory.all %} {{ category }} {% endfor %}</h4></td>
        </tr>
        {% endfor %}
    {% else %}
        <h>Ничего не найдено по данным критериям</h>
    {% endif %}
    </table>


<!-- Пагинация-->
   {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <<<
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
   {% endif %}

    <!-- Текущая страница -->
   {{ page_obj.number }}
    <!-- Следующая страница-->

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           >>>
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}